/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav,
ul,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

a:visited {
  color: inherti;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 12px;
  background-color: #696969;
}

a {
  text-decoration: none;
  color: #333;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #696969;
  padding: 20px 0;
}

.hd-logo {
  font-size: 3rem;
  margin-left: 50px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.8rem;
  margin-right: 2rem;
}

nav ul li {
  border: 2px solid black;
  border-radius: 8px;
  background-color: #fff;
  padding: 5px;
}

nav ul :not(:first-child) {
  margin-left: 55px;
}

nav ul :hover {
  color: #fff;
  background-color: black;
}

.swiper-slide {
  text-align: center;
  height: 85vh;
  width: 100%;
}

#slide1 {
  background-color: blue;
  height: 85vh;
  width: 100%;
  min-width: 1000px;
}

#slide2 {
  background-color: blue;
  height: 85vh;
  width: 100%;
  min-width: 1000px;
}

#slide3 {
  background-color: blue;
  height: 85vh;
  width: 100%;
  min-width: 1000px;
}

.swiper-button-prev {
  color: #fff;
}

.swiper-button-next {
  color: #fff;
}

@-webkit-keyframes titleAnimation {
  0% {
    letter-spacing: 0.3em;
    opacity: 0;
  }
}

@keyframes titleAnimation {
  0% {
    letter-spacing: 0.3em;
    opacity: 0;
  }
}

#anime {
  max-width: 1000px;
  width: 100%;
  margin: 50px auto;
}

.contents li {
  position: relative;
}

.contents li.show h2,
.contents li.show p,
main .contents li.show img {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
}

.contents li:not(:first-of-type) {
  margin-top: 200px;
}

.contents li:nth-of-type(odd) .contentsText {
  right: 0;
}

.contents li:nth-of-type(even) .contentsText {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contents li:nth-of-type(odd) img {
  -webkit-transform: translate(-20px, 50px);
          transform: translate(-20px, 50px);
}

.contents li:nth-of-type(even) img {
  margin-left: auto;
  -webkit-transform: translate(20px, 10px);
          transform: translate(20px, 10px);
}

.contentsText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: absolute;
  top: 40px;
}

.contents h2 {
  font-size: 50px;
  font-weight: bold;
  white-space: nowrap;
  background-color: #fff;
  padding: 10px 15px;
  line-height: 1.4;
  letter-spacing: 0.05em;
  border-radius: 5px;
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  -webkit-transition: 1s;
  transition: 1s;
}

.contents p {
  line-height: 1.6;
  background-color: #555;
  font-size: 14px;
  max-width: 340px;
  padding: 15px;
  margin-top: 30px;
  border-radius: 5px;
  opacity: 0;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: 1s;
  transition: 1s;
}

.contents img {
  width: 65%;
  border-radius: 5px;
  display: block;
  opacity: 0;
  -webkit-transition: 2s 0.5s;
  transition: 2s 0.5s;
}
/*# sourceMappingURL=main.css.map */