header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 20px 0;
}

.hd-logo {
  color: #696969;
  font-size: 3rem;
  margin-left: 50px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8rem;
  margin-right: 2rem;
  li {
    font-size: 2rem;
  }
  :not(:first-child) {
    margin-left: 55px;
  }
  :hover {
    color: black;
  }
}

a {
  color: #696969;
}
